# Dependency directories
/node_modules
/bower_components

# Distribution directories
/out

# Local environment variables
.env

# IDE and editor files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.angular
