.filter-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filter-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-input {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 100%;
}

.filter-clear__button {
    width: 100%;
    height: 35px;
}

@media only screen and (min-width: 600px) {
    .filter-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filter-input-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .filter-input {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        width: 150px;
    }

    .filter-clear__button {
        height: 100%;
    }
}

.filter-input__input {
    height: 100%;
}
