.filter-container {
    display: flex;
    gap: 10px;
}

.filter-input {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 150px;

}

.filter-input__input {
    height: 100%;
}
